/* ROOT */
:root {
    --toastify-color-dark: #062841;
    --toastify-icon-color-error: var(--toastify-color-error);
}

body {
    background-image:
        linear-gradient(to right bottom,
            #062841,
            #0f3e60,
            #195582,
            #236da5,
            #2e86c9,
            #4397da,
            #55a8eb,
            #67b9fd,
            #81c4fd,
            #98d0fe,
            #afdbfe,
            #c6e6ff);
}

/* HEADER */
.navbar-brand.h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #7BC6FF;
    font-size: 90px;
}

.d-inline-block.align-text-top {
    margin-left: -100px;
    z-index: 1;
}

/* INPUT DE BÚSQUEDA */
.form-control {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 500px;
    height: 50px;
    border-radius: 0px;
    border-color: #062841;
    color: black;
    background-color: #E5F4FF;

}

.btn.btn-outline-secondary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 120px;
    height: 50px;
    background-color: #A3D2F6;
    border-radius: 8px;
    border-color: #000000;
    box-shadow: 2px 2px 4px #828585;
    color: #000000;
}

/* CARRUSEL */
.d-block {
    width: 149px;
    height: 215px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 50px;
}

/* CARDS */
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #B5D8FA;
    font-size: 50px;
    display: flex;
    justify-content: left;
    text-shadow: 2px 2px 4px #828585;
    margin-top: 40px;
}

.img.rounded-start {
    width: 100px;
    height: 152px;
    border-radius: 5px;
}

.card {
    align-items: center;
    justify-content: end;
    background-color: transparent;
    border-color: transparent;
    padding: 10px 0px 25px 0px;
}


/* RESULTADOS BÚSQUEDA */

/* CARDS RESULTADOS */
a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #062841;
}

#movie-results {
    border-color: #062841;
    border-width: 2px;
    margin-bottom: 10px;
    background-image:
        linear-gradient(to right bottom,
            #55a8eb,
            #67b9fd,
            #81c4fd,
            #98d0fe,
            #afdbfe,
            #c6e6ff);
}

.card-title,
.card-text {
    color: #062841;
    font-family: 'Quicksand', sans-serif;
}


/* PÁGINA INFORMACIÓN COMPLETA */

/* BOTÓN VOLVER */
table {
    margin-top: 15px;
}

.btn.btn-primary.me-md-2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 23px;
    width: 100px;
    height: 46px;
    background-color: #A3D2F6;
    border-radius: 8px;
    border-color: #000000;
    box-shadow: 2px 2px 4px #828585;
    color: #000000;
}