
/* RESPONSIVE MOBILE */
body {
background-image:
linear-gradient(to right bottom,
#062841, 
#0f3e60,
#195582,
#236da5, 
#2e86c9, 
#4397da, 
#55a8eb, 
#67b9fd,
#81c4fd,
#98d0fe,
#afdbfe,
#c6e6ff);
}

span {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #7BC6FF;
    font-size: 45px;
}
